@import "~materialize-css/sass/materialize";

.bg {
  @extend .grey, .lighten-4;
}

.bg-secondary {
  @extend .white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav#loggedOutNavbar {
  @extend .bg-secondary;
  .brand-logo {
    @extend .grey-text, .text-darken-3;
  }
  ul {
    a {
      @extend .grey-text, .text-darken-3;
    }
  }
}

.report {
  table {
    @extend .highlight, .bg-secondary, .centered;
    thead th {
      @extend .bg;
    }
    th,
    td {
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
